Source: emacs-extras
Section: devel
Priority: extra
Maintainer: Denver Ogaro <denver@ogaro.net>
Build-Depends: debhelper (>= 10.0.0)
Standards-Version: 4.0.0
Homepage: https://github.com/demonchild2112/emacs-extras

Package: emacs-extras
Architecture: any
Pre-Depends: emacs-nox
Description: Configures emacs with convenient default settings.
