Source: emacs-extras
Section: devel
Priority: optional
Maintainer: Denver Ogaro <denver@ogaro.net>
Build-Depends: debhelper (>= 9)
Standards-Version: 4.1.1
Homepage: https://github.com/demonchild2112/emacs-extras

Package: emacs-extras
Architecture: any
Pre-Depends: emacs-nox (>= 24.0.0)
Depends: ${misc:Depends}
Description: Add-ons for emacs.
	emacs-extras adds color themes and other convenient settings for emacs.
